@import "reset";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
//font-family: 'Noto Sans KR', sans-serif;

$maind-red:#e50a15;
$dark-red:#dc060f;
$logo-dark-red:#b20710;
$white:#ffffff;
$gray:#303030;
$light-gray:#3c3c3c;
$black: #000000;
$black2: #121212;

//COMMON
body {
  font-family: 'Noto Sans KR', sans-serif;
  color: $white;
}


//INDIVIDUAL
header {
  position: relative;
  width: 100%;
  height: 55px;
  display: flex;
  background-color: $black;
  padding: 10px 20px;

  .header__logo {
    display: inline-block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 300px;
    margin-left: 10px;
   }
   img {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 35%;
   }
  }


  .menus {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 150px;
    display: flex;
    width: 200px;
    justify-content: space-around;
    margin-left: 20px;

   a{
    color: $white;
    font-size: 15px;
   }
  }

  .ex-menu {
    display: flex;
    justify-content: space-around;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
    width: 150px;
    
    a{
      color: $white;
    }

    .login {
      width: 30px;
      height: 30px;

      border-radius: 5px;
      background-image: url("./img/default-login.png");
      background-size: cover;
      background-position: center;
    }
  }