.section1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 700px;
}
.section1 .bannerSwiper {
  width: 100%;
  height: 100%;
  z-index: 2;
}
.section1 .bannerSwiper .swiper-button-next,
.section1 .bannerSwiper .swiper-button-prev {
  color: #dedede;
}
.section1 .bannerSwiper .swiper-pagination-bullet-active {
  background-color: #e50914 !important;
}
.section1 .bannerSwiper .swiper-slide {
  padding: 0 75px;
  height: 100%;
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: start;
  align-items: center;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: inherit;
}
.section1 .bannerSwiper .swiper-slide:nth-child(1) {
  background-image: url(../img/main_banner/main_banner1.png);
}
.section1 .bannerSwiper .swiper-slide:nth-child(2) {
  background-image: url(../img/main_banner/main_banner2@2x.png);
}
.section1 .bannerSwiper .swiper-slide:nth-child(3) {
  background-image: url(../img/main_banner/main_banner3@2x.png);
}
.section1 .bannerSwiper .swiper-slide:nth-child(4) {
  background-image: url(../img/main_banner/main_banner4@2x.png);
}
.section1 .bannerSwiper .swiper-slide .banner-box {
  text-align: left;
  display: block;
}
.section1 .bannerSwiper .swiper-slide .banner-box .main-banner-title {
  font-size: 70px;
  font-weight: 800;
  color: #fff;
  margin-bottom: 24px;
  letter-spacing: -0.25px;
}
.section1 .bannerSwiper .swiper-slide .banner-box span {
  font-size: 16px;
  font-weight: 500;
  color: #fff;
}
.section1 .bannerSwiper .swiper-slide .banner-box p {
  font-size: 14px;
  font-weight: 300;
  color: #e6e6e6;
  margin: 12px 0 30px 0;
  line-height: 1.25rem;
}
.section1 .bannerSwiper .swiper-slide .banner-box .btn-box {
  display: block;
}
.section1 .bannerSwiper .swiper-slide .banner-box .btn-box .btn {
  padding: 12px 20px;
  border-radius: 6px;
  font-size: 14px;
  border: none;
}
.section1 .bannerSwiper .swiper-slide .banner-box .btn-box .btn--play {
  background-color: #e50914;
  color: #fff;
  margin-right: 6px;
}
.section1 .bannerSwiper .swiper-slide .banner-box .btn-box .btn--detail {
  background-color: #383131;
  color: #fff;
}

body {
  background-color: black;
  overflow-x: hidden;
}

.inner {
  position: relative;
  width: 100%;
}
.inner .section2 {
  position: relative;
  top: 590px;
  left: 0;
  width: 100%;
  height: 700px;
  z-index: 2;
}
.inner .section2 .main .main-title {
  font-size: 35px;
}
.inner .section2 .sub .sub__detail {
  position: relative;
  padding: 20px;
  width: 100%;
  top: 100px;
}
.inner .section2 .sub .sub__detail ul {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.inner .section2 .sub .sub__detail ul li {
  list-style: none;
  padding: 12px 20px;
  margin: 5px;
  letter-spacing: 1px;
  cursor: pointer;
  border: 1px solid var(--unnamed-color-707070);
  border: 1px solid #707070;
  border-radius: 6px;
  opacity: 1;
}
.inner .section2 .sub .sub__detail ul li.active {
  background-color: #fff;
  color: black;
}
.inner .section2 .sub .sub__detail .genre-zone {
  margin-top: 35px;
}
.inner .section2 .sub .sub__detail .swiper-zone {
  position: relative;
  width: 100vw;
  height: 300px;
  display: flex;
  align-items: center;
}
.inner .section2 .sub .sub__detail .swiper-zone .albums {
  position: absolute;
  width: 100%;
  height: 300px;
  bottom: 0;
}
.inner .section2 .sub .sub__detail .swiper-zone .albums .swiper-wrapper .swiper-slide {
  display: flex;
  align-items: center;
  margin-right: 0px !important;
}
.inner .section2 .sub .sub__detail .swiper-zone .albums .swiper-wrapper .swiper-slide:hover {
  transform: scale(1.5);
  transition: 0.5s;
  transition-delay: 0.3s;
  z-index: 9;
}
.inner .section2 .sub .sub__detail .swiper-zone .albums .swiper-wrapper .swiper-slide.hide {
  display: none;
}
.inner .section2 .sub .sub__detail .swiper-zone .albums .swiper-wrapper .swiper-slide .album-box {
  width: 200px;
  height: 200px;
  display: block;
  align-items: center;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: inherit;
  border-radius: 15px;
  transition: 0.5s;
  transform-origin: center;
  cursor: pointer;
  z-index: 1;
}
.inner .section2 .sub .sub__detail .swiper-zone .albums .swiper-wrapper .swiper-slide .album-box .beforeHover {
  z-index: 10;
  position: absolute;
  bottom: 49px;
  left: -1px;
  border-radius: 0 0 15px;
  width: 80%;
  height: 100%;
  background: transparent linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%) 0% 0% no-repeat padding-box;
}
.inner .section2 .sub .sub__detail .swiper-button-prev,
.inner .section2 .sub .sub__detail .swiper-button-next {
  top: 250px;
  color: white;
  opacity: 0.8;
}
.inner .section2 .sub .sub__detail .swiper-button-prev {
  left: -25px;
}
.inner .section2 .sub .sub__detail .swiper-button-next {
  right: -55px;
}
.inner .section2 .sub .sub__detail .swiper-button-prev.a,
.inner .section2 .sub .sub__detail .swiper-button-next.a {
  top: 600px;
  color: white;
  opacity: 0.8;
}/*# sourceMappingURL=main.css.map */