@import "main_banner";

body {
  background-color: black;
}

.inner {
  position: relative;
  width: 100%;

  .section2 {
    position: relative;
    top: 590px;
    left: 0;
    width: 100%;
    height: 700px;
    z-index: 2;

    .main {
      margin-left: 75px;
      .main-title {
        font-size: 35px;
      }
    }
    .sub {

      .sub__detail {
        .title {
          font-size: 25px;
          line-height: 2;
        }

        .swiper-zone {
          position: relative;
          width: 100vw;
          height: 300px;
          // background-color: aqua;
          display: flex;
          align-items: center;

          .albums {
           position: absolute;
           width: 100vw;
           height: 300px;
           bottom: 0;

           .swiper-wrapper {
            .swiper-slide {
              display: flex;
              align-items: center;
           
              .album-box {
              width: 200px;
              height: 200px;
              display: block;
              align-items: center;
              background-position: center;
              background-size: cover;
              background-repeat: no-repeat;
              background-image: inherit;
              border-radius: 15px;
              transition: 0.5s;
              transition-delay: 0.3s;
              transform-origin: center;
              cursor: pointer;
              z-index: 1;

              &.on {
                transform: scale(1.5);
                z-index: 999;
              }
              }
            }

           }
          }
        }
        
        //버튼은 계속 복사해서 써야함
        .swiper-button-prev,
        .swiper-button-next {
          top: 250px;
          color: white;
          opacity: 0.8;
        }

        .swiper-button-prev.a, 
        .swiper-button-next.a {
          top: 600px;
          color: white;
          opacity: 0.8;
        }
        
      }
    }
  }
}
