@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  font-family: "Noto Sans KR", sans-serif;
  color: #ffffff;
}

input {
  all: unset;
}

header {
  position: relative;
  width: 100%;
  height: 55px;
  display: flex;
  background-color: #000000;
  z-index: 999;
}
header .inner {
  position: fixed;
  background-color: #000000;
  top: 0px;
  width: 100%;
  height: inherit;
  padding: 0px 75px;
}
header .header__logo {
  display: inline-block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 300px;
  margin-left: 10px;
}
header img {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 35%;
}

.menus {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 200px;
  display: flex;
  width: 200px;
  justify-content: space-around;
  margin-left: 70px;
}
.menus a {
  color: #ffffff;
  font-size: 15px;
}

.ex-menu {
  display: flex;
  position: absolute;
  align-items: center;
  top: 50%;
  transform: translateY(-50%);
  right: 90px;
  width: 300px;
  height: 30px;
}
.ex-menu .search {
  position: absolute;
  top: 50%;
  right: 120px;
  transform: translateY(-50%);
  width: 0;
  height: 25px;
  z-index: 1;
  margin-right: 20px;
  transition: 0.5s;
  transform-origin: right;
  transition-timing-function: ease;
  z-index: 1;
  color: #ffffff;
  font-size: 15px;
  text-indent: 2rem;
}
.ex-menu .search::-moz-placeholder {
  font-size: 12px;
  text-align: left;
}
.ex-menu .search::placeholder {
  font-size: 12px;
  text-align: left;
}
.ex-menu .search.on {
  width: 160px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 1px solid #ffffff;
}
.ex-menu .search__icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 160px;
  transition: 0.5s;
  transform-origin: right;
  transition-timing-function: ease;
  z-index: 3;
}
.ex-menu .search__icon.on {
  left: 6px;
}
.ex-menu .pop-up {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 78px;
}
.ex-menu a {
  color: #ffffff;
}
.ex-menu .login {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  right: 10px;
  border-radius: 5px;
  background-image: url("../img/netflix_logo/nav_logo/netflixMusic_default-login.png");
  background-size: cover;
  background-position: center;
  cursor: pointer;
}
.ex-menu .login:hover ~ #login__arrow {
  transform: rotate(-180deg);
}
.ex-menu .login:hover > .login__submenus {
  visibility: visible;
  opacity: 1;
}
.ex-menu .login .login__submenus {
  position: absolute;
  top: 28px;
  opacity: 0;
  visibility: hidden;
  transition: 0.2s;
  transition-timing-function: ease;
}
.ex-menu .login .login__submenus #login__submenus__deco {
  position: absolute;
  transform: rotate(180deg);
  top: 5.5px;
  z-index: 2;
  font-size: 25px;
}
.ex-menu .login .login__submenus .login__contents__contain {
  position: absolute;
  width: 200px;
  height: 370px;
  transform: translateX(-150px);
  margin-top: 20px;
  background-color: rgba(0, 0, 0, 0.8);
  font-size: 12px;
  font-weight: 300;
  border-radius: 1px;
  border: 0.5px solid #3c3c3c;
}
.ex-menu .login .login__submenus .login__contents__contain .login__submenus__list .submenus__first {
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
}
.ex-menu .login .login__submenus .login__contents__contain .login__submenus__list .submenus__first li {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.ex-menu .login .login__submenus .login__contents__contain .login__submenus__list .submenus__first li .login-sub {
  width: 30px;
  height: 30px;
  right: 10px;
  margin-right: 10px;
  border-radius: 5px;
  background-size: cover;
  background-position: center;
  cursor: pointer;
}
.ex-menu .login .login__submenus .login__contents__contain .login__submenus__list .submenus__first li .login-sub:hover ~ p {
  text-decoration: underline;
}
.ex-menu .login .login__submenus .login__contents__contain .login__submenus__list .submenus__first li p {
  cursor: pointer;
}
.ex-menu .login .login__submenus .login__contents__contain .login__submenus__list .submenus__first li p:hover {
  text-decoration: underline;
}
.ex-menu .login .login__submenus .login__contents__contain .login__submenus__list .submenus__second {
  padding-left: 20px;
  padding-right: 20px;
}
.ex-menu .login .login__submenus .login__contents__contain .login__submenus__list .submenus__second li {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.ex-menu .login .login__submenus .login__contents__contain .login__submenus__list .submenus__second li #pen-icon {
  margin-right: 15px;
}
.ex-menu .login .login__submenus .login__contents__contain .login__submenus__list .submenus__second li #switch_account {
  margin-right: 15px;
}
.ex-menu .login .login__submenus .login__contents__contain .login__submenus__list .submenus__second li #account {
  margin-right: 15px;
}
.ex-menu .login .login__submenus .login__contents__contain .login__submenus__list .submenus__second li #question {
  margin-right: 15px;
}
.ex-menu .login .login__submenus .login__contents__contain .login__submenus__list .submenus__second li span {
  cursor: pointer;
}
.ex-menu .login .login__submenus .login__contents__contain .login__submenus__list .submenus__second li span:hover ~ p {
  text-decoration: underline;
}
.ex-menu .login .login__submenus .login__contents__contain .login__submenus__list .submenus__second li p {
  cursor: pointer;
}
.ex-menu .login .login__submenus .login__contents__contain .login__submenus__list .submenus__second li p:hover {
  text-decoration: underline;
}
.ex-menu .login .login__submenus .login__contents__contain .login__submenus__list .submenus__third {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  border-top: 0.5px solid rgba(255, 255, 255, 0.5);
  padding: 15px;
}
.ex-menu .login .login__submenus .login__contents__contain .login__submenus__list .submenus__third .logout__logo {
  width: 20px;
  height: 20px;
  transform: translateX(2px);
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("../img/netflix_logo/intro_logo/intro_netflix_logo.png");
}
.ex-menu .login .login__submenus .login__contents__contain .login__submenus__list .submenus__third .logout__logo:hover ~ .logoout__text {
  text-decoration: underline;
}
.ex-menu .login .login__submenus .login__contents__contain .login__submenus__list .submenus__third .logoout__text {
  display: block;
}
.ex-menu .login .login__submenus .login__contents__contain .login__submenus__list .submenus__third .logoout__text:hover {
  text-decoration: underline;
}

#login__arrow {
  position: absolute;
  right: -15px;
  transition: 0.5s;
  transition-timing-function: ease;
}/*# sourceMappingURL=headerStyle.css.map */